.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.login-card {
  width: 100%;
  max-width: 360px;
}

/* Tablet */
@media (min-width: 600px) and (max-width: 799px) {
  .login-card {
    max-width: 400px;
  }
}

/* Desktop */
@media (min-width: 800px) {
  .login-card {
    max-width: 440px;
  }
}


.lab-icon {
  // Estilo para el ícono
  font-size: 48px; // Tamaño visible
  width: 48px;
  height: 48px;
  // Color temático (ejemplo: azul primario o verde laboratorio)
  color: #00bcd4; // Ejemplo de un color cian/laboratorio
  display: block; // Asegura que ocupe su propia línea
  margin: 0 auto 10px auto; // Centrado horizontal y espacio inferior
}
