.orders-page {
  h1 {
    margin-bottom: 16px;
  }
}

.orders-list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

/* Tablet */
@media (min-width: 600px) and (max-width: 799px) {
  .orders-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Desktop */
@media (min-width: 800px) {
  .orders-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
